.list-group-item{
    padding-top: 2rem;
}

.list-group{
    padding-block: 2rem;
}

.dropdown-menu{
    border: transparent;
}

.dropdown-toggle{
    border-radius: 100%;
}

.greyned{
    color: grey;
}

.deleted{
  background-color: rgb(226, 173, 173);
}
