<div class="container-fluid">
    <ul class="list-group block">
        <li class="list-group-item" *ngFor='let item of items'>
            <div class="row">
                <a href="" class="col-md-1"><i class="fas fa-star"></i></a>
                <h3 class="col-md-7 text-center">{{item.title}}</h3>
                <div class="col-md-1">
                    <h4>Date created</h4>
                    <h3>{{item.createdOn}}</h3>
                </div>
                <div class="col-md-1">
                    <h4>Send By</h4>
                    <h3>{{item.sender}}</h3>
                </div>
                <div class="col-md-1">
                    <h4>Status</h4>
                    <h3>{{item.status}}</h3>
                </div>
                <div class="dropdown col-md-1">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt"></i></a>
                      <a class="dropdown-item" href="#"><i class="fas fa-trash"></i></a>
                    </div>
                  </div>
            </div>
        </li>
    </ul>
</div>
