<div class="container">
  <h1 class='text-center'>Profile Settings</h1>
  <div class="row justify-content-center" *ngIf='user'>
    <div class="card col-sm-12 col-md-4" style="width: 18rem;">
      <img class="card-img-top" src="{{user.picture}}" alt="User Img">
      <div class="card-body text-center">
        <h5 class="card-title">{{user.name}}</h5>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.name}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              {{user.email}}
            </div>

          </div>
          <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="!editing">
                {{user.phone}}
              </div>
              <div class="col-sm-9 text-secondary" *ngIf="editing">
                <input type="number"  class='form-control' placeholder="{{user.phone}}" [(ngModel)]="user.phone">
              </div>


            </div>

            <hr>
            <div *ngFor='let address of user.address; let i = index; trackBy:trackByFn' >
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address {{i+1}} </h6>
                </div>
                <div class="col-sm-9 text-secondary" *ngIf='!editing'>
                  {{address}}
                </div>
                <div class="col-sm-9 text-secondary" *ngIf='editing'>
                  <input type="text" class='form-control' [(ngModel)]="user.address[i]" >
                </div>
              </div>
              <hr>
            </div>

            <div class="row justify-content-evenly" *ngIf="!editing">
              <div class="col-sm-3">
                <a class="btn btn-info " type="button" data-toggle="modal" (click)="open(addressModal)"
                  data-target="#newaddressModal">New address <i class="fas fa-plus"></i></a>
              </div>
              <div class="col-sm-3">
                <a class="btn btn-info" (click)='editUserToggle()'>Edit</a>
              </div>
            </div>
            <div class="row justify-content-center" *ngIf="editing">
              <a class="btn btn-secondary col-sm-5 " type="submit" (click)='editUserToggle()'>Discard</a>
              &nbsp;
              <a class="btn btn-primary col-sm-5" (click)='saveChanges()'>Save</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- address Modal -->
<ng-template #addressModal let-modal>
  <div class="modal-content ">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New address:</h5>
      <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" (click)='close()'>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="">
        <div class="form-group" [formGroup]='addressForm'>
          <label for="newaddress">address:</label>
          <input type="text" class="form-control" formControlName="address" placeholder="New address" [ngClass]="{'is-invalid': (addressForm.controls.address.touched || submitted)
              && addressForm.controls.address.errors}">
          <span class="text-danger" *ngIf="(addressForm.controls.address.touched || submitted)
                        && addressForm.controls.address.errors?.required">
            Requiered.
          </span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='close()'>Close</button>
      <button type="button" class="btn btn-primary" (click)='addAddressToggle()'>Save changes</button>
    </div>
  </div>
</ng-template>
