a {
  text-align: center;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(#A9BBC8, #A9BBC8);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

a:hover,
a:focus {
  background-size: 100% 2px;
}

