<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Orders-Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="logged  text-right align-items-left" *ngIf= 'authService.user$ | async as user' >
      <img src="{{user.picture}}" alt="Foto">
      &nbsp;
      <p>{{user.given_name | titlecase}} {{user.family_name | titlecase}}</p>
      &nbsp;
      <button type="button" class="btn btn-secondary" (click)='logout()'>Log Out</button>
    </div>
  </nav>
</header>
