<div class="containter">
  <div class="row">
    <div class='centered col-md-12'>
      <form>
        <!--TITLE-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="title">Title<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid': (regForm.controls.title.touched || submitted)
                  && regForm.controls.title.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.title.touched || submitted) && regForm.controls.title.errors?.required">
              Requiered
            </span>
          </div>
        </div>
        <!--DESCRIPTION-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="description">Description<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid': (regForm.controls.description.touched || submitted)
                  && regForm.controls.description.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.description.touched || submitted) && regForm.controls.description.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--STATUS-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="Status">Status<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <select name="status" class="form-control" formControlName="status" [ngClass]="{'is-invalid': (regForm.controls.status.touched || submitted)
                  && regForm.controls.status.errors}">
              <option *ngFor="let opt of status">
                ‌{{ opt }}
              <option>
            </select>
            <span class="text-danger"
              *ngIf="(regForm.controls.status.touched || submitted) && regForm.controls.status.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Destination Adress-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="destAdress">Destination Adress<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="destAdress" [ngClass]="{'is-invalid': (regForm.controls.destAdress.touched || submitted)
                  && regForm.controls.destAdress.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.destAdress.touched || submitted) && regForm.controls.destAdress.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Destination city-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="destCity">Destination City<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="destCity" [ngClass]="{'is-invalid': (regForm.controls.destCity.touched || submitted)
                  && regForm.controls.destCity.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.destCity.touched || submitted) && regForm.controls.destCity.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Destination Country-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="destcountry">Destination Country<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="destcountry" [ngClass]="{'is-invalid': (regForm.controls.destcountry.touched || submitted)
                  && regForm.controls.destcountry.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.destcountry.touched || submitted) && regForm.controls.destcountry.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Price-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="price">Price: $<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="price" [ngClass]="{'is-invalid': (regForm.controls.price.touched || submitted)
                  && regForm.controls.price.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.price.touched || submitted) && regForm.controls.price.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!-- TAX -->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="tax">TAX: $<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="tax" [ngClass]="{'is-invalid': (regForm.controls.tax.touched || submitted)
                  && regForm.controls.tax.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.tax.touched || submitted) && regForm.controls.tax.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Weight-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="weight">Weight<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <input type="number" class="form-control" formControlName="weight" [ngClass]="{'is-invalid': (regForm.controls.weight.touched || submitted)
                  && regForm.controls.weight.errors}" />

            <span class="text-danger"
              *ngIf="(regForm.controls.weight.touched || submitted) && regForm.controls.weight.errors?.required">
              Requiered
            </span>
          </div>
        </div>

        <!--Meassure Unit-->
        <div class="form-group row">
          <label class="col-form-label col-sm-2 col-sm-offset-2" for="mUnit">Meassure Unit<span
              class="text-danger">*</span></label>
          <div class="col-sm-6">
            <select name="mUnit" class="form-control" formControlName="mUnit" [ngClass]="{'is-invalid': (regForm.controls.mUnit.touched || submitted)
                  && regForm.controls.mUnit.errors}">
              <option *ngFor="let opt of mUnit">
                ‌{{ opt }}
              <option>
            </select>
            <span class="text-danger"
              *ngIf="(regForm.controls.mUnit.touched || submitted) && regForm.controls.mUnit.errors?.required">
              Requiered
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
